{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="gallery-container">
<img src="{% static 'images/gala.jpeg' %}">
<img src="{% static 'images/galb.jpeg' %}">
<img src="{% static 'images/galc.jpeg' %}">
<img src="{% static 'images/gald.jpeg' %}">
<img src="{% static 'images/gale.jpeg' %}">
<img src="{% static 'images/galf.jpeg' %}">
<img src="{% static 'images/galg.jpeg' %}">
<img src="{% static 'images/galh.jpeg' %}">
<img src="{% static 'images/gali.jpeg' %}">
<img src="{% static 'images/galj.jpeg' %}">
<img src="{% static 'images/galk.jpeg' %}">
<img src="{% static 'images/gall.jpeg' %}">
<img src="{% static 'images/galm.jpeg' %}">
<img src="{% static 'images/galn.jpeg' %}">
<img src="{% static 'images/galo.jpeg' %}">
<img src="{% static 'images/galza.jpeg' %}">
<img src="{% static 'images/galq.jpeg' %}">
<img src="{% static 'images/galr.jpeg' %}">
<img src="{% static 'images/gals.jpeg' %}">
<img src="{% static 'images/galt.jpeg' %}">
<img src="{% static 'images/galu.jpeg' %}">
<img src="{% static 'images/galv.jpeg' %}">
<img src="{% static 'images/galw.jpeg' %}">
<img src="{% static 'images/galx.jpeg' %}">
<img src="{% static 'images/galy.jpeg' %}">
<img src="{% static 'images/galz.jpeg' %}">
<img src="{% static 'images/galzb.jpeg' %}">
<img src="{% static 'images/galzc.jpeg' %}">
</div>
{%endblock%}
